<div class="row FormClass">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        הוסף חברה
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="row">
            <div class="form-group" class="col-lg-12">
              <label for="formGroupExampleInput">הכנס שם חברה </label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="name" ngModel required>
            </div>
          </div>

          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput">הכנס כתובת </label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="address"
                     ngModel required>
            </div>
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput2">הכנס טלפון</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput2" name="phone"
                     ngModel required>
            </div>
          </div>

          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput">הזן סיסמה</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="password" ngModel required>
            </div>
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput2">הכנס אימייל</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput2" name="email" ngModel required email>
            </div>
          </div>

          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput">הכנס אתר אינטרנט</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="website"
                     ngModel>
            </div>
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput2">הכנס WAZE</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput2" name="waze"
                     ngModel>
            </div>
          </div>
          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput">הכנס פייסבוק</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="facebook"
                     ngModel>
            </div>
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput2">הכנס subDomain</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput2" name="subdomain"
                     ngModel required>
            </div>
          </div>
          <div class="row">
            <div class="form-group" class="col-lg-12">
              <label for="formGroupExampleInput">פרטים נוספים</label>
              <textarea  rows="4" cols="50"  class="form-control textWhite" id="formGroupExampleInput" name="description" ngModel required> </textarea>
            </div>
          </div>
          <div class="row">
            <label class="uploader">
              <img [src]="imageSrc"  [class.loaded]="imageLoaded" style="width: 100px;"/>
              <input type="file" name="file" accept="image/*" (change)="handleInputChange($event)">
            </label>
          </div>
          <div class="row" align="left" style="float: left; margin-left: 5px">
            <button [disabled]="!f.valid" type="submit" class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                    style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
              <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>