<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">
            <!--<div class="col-lg-2 nopadding" style="background-color: #eff1f1; padding: 0px" >-->
                <!--<div style="margin-top: 20px; padding: 10px;" align="center">-->
                    <!--<button [routerLink]="['/', folderName , 'add' ]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="background-color: #666">-->
                        <!--<div class="buttonDivBadge">-->

                        <!--</div>-->
                        <!--<div class="buttonDivText">-->
                            <!--<span class="sideButtonTextEmpty">הוסף מוצר חדש</span>-->
                        <!--</div>-->
                        <!--<div class="buttonDivIcon">-->
                            <!--<i class="fa fa-chevron-left"></i>-->
                        <!--</div>-->
                    <!--</button>-->

                    <!--<hr>-->
                      <!--<button [routerLink]="['/', 'subCategory' , 'index' , { id:Category}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" >-->
                           <!--<div class="buttonDivText">-->
                               <!--<span class="sideButtonTextEmpty">חזרה לתת קטגוריות</span>-->
                           <!--</div>-->
                           <!--<div class="buttonDivIcon">-->
                               <!--<i class="fa fa-chevron-left"></i>-->
                           <!--</div>-->
                       <!--</button>-->
                    <!--&lt;!&ndash;-->
                                        <!--<button [routerLink]="['/', 'company' , 'edit' , { id: i}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" >-->
                                              <!--<div class="buttonDivBadge">-->
                                                  <!--<span class="pull-right badge sideButtonBadge" >-->
                                                  <!--<span class="badgeText">11</span></span>-->
                                              <!--</div>-->
                                              <!--<div class="buttonDivText">-->
                                                  <!--<span class="sideButtonText">צפון</span>-->
                                              <!--</div>-->
                                              <!--<div class="buttonDivIcon">-->
                                                  <!--<i class="fa fa-chevron-left"></i>-->
                                              <!--</div>-->
                                          <!--</button>-->

                                          <!--<button [routerLink]="['/', 'company' , 'edit' , { id: i}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" >-->
                                              <!--<div class="buttonDivBadge">-->
                                                  <!--<span class="pull-right badge sideButtonBadge" >-->
                                                  <!--<span class="badgeText">16</span></span>-->
                                              <!--</div>-->
                                              <!--<div class="buttonDivText">-->
                                                  <!--<span class="sideButtonText">מרכז</span>-->
                                              <!--</div>-->
                                              <!--<div class="buttonDivIcon">-->
                                                  <!--<i class="fa fa-chevron-left"></i>-->
                                              <!--</div>-->
                                          <!--</button>-->

                                          <!--<button [routerLink]="['/', 'company' , 'edit' , { id: i}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" >-->
                                              <!--<div class="buttonDivBadge">-->
                                                  <!--<span class="pull-right badge sideButtonBadge" >-->
                                                  <!--<span class="badgeText">6</span></span>-->
                                              <!--</div>-->
                                              <!--<div class="buttonDivText">-->
                                                  <!--<span class="sideButtonText">דרום</span>-->
                                              <!--</div>-->
                                              <!--<div class="buttonDivIcon">-->
                                                  <!--<i class="fa fa-chevron-left"></i>-->
                                              <!--</div>-->
                                          <!--</button> &ndash;&gt;-->

                <!--</div>-->
            <!--</div>-->
            <div class="col-lg-12 nopadding" style="margin-top: 10px;">
                        <div class="row" style="direction: rtl; margin-left:0%;">
                            <div class="col-lg-9 nopadding" style="margin-top: 10px;">
                                <div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">
                                    <input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חפש לפי כותרת" required (keyup)='updateFilter($event)'>
                                </div>
                            </div>
                            <div class="col-lg-1 nopadding" style="margin-top: 26px !important;">
                                <button [routerLink]="['/', folderName , 'add' ,{sub:SubCatId}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="background-color: #666">
                                    <div class="buttonDivBadge">

                                    </div>
                                    <div class="buttonDivText">
                                        <span class="sideButtonTextEmpty">הוסף</span>
                                    </div>
                                    <div class="buttonDivIcon">
                                        <i class="fa fa-plus "></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <!--<div class="row" style="direction: rtl">-->
                            <!--&lt;!&ndash;<div class="col-md-2">&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="button" class="btn btn-info" [routerLink]="['/companies/create']">עסק חדש</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">-->
                                <!--<input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חפש לפי שם מוצר" required (keyup)='updateFilter($event)'>-->
                            <!--</div>-->
                        <!--</div>-->
                        <ngx-datatable
                                [headerHeight]="40"
                                [footerHeight]="'false'"
                                [rowHeight]="'auto'"
                                [scrollbarH]="true"
                                [columnMode]="'force'"
                                [rows]="ItemsArray">

                            <!-- Column Templates -->


                            <ngx-datatable-column name="כותרת"  [maxWidth]="200">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div style="float: right"  >
                                        <strong>{{row.title}}</strong>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>


                            <ngx-datatable-column name="פעולות" [sortable]="false" [minWidth]="150" style="direction: ltr !important; text-align: left !important;" align="left">
                                <ng-template let-rowIndex="rowIndex"  let-row="row" ngx-datatable-cell-template style="background-color: red; direction: ltr !important; text-align: left !important; float: left" align="left">
                                    <!-- <button type="button" class="btn btn-info" (click)="openDetailsModal(details, row)">פרטים</button> -->
                                    <button type="button" class="btn btn-warning" [routerLink]="['/', folderName , 'edit' , { id: rowIndex}]">ערוך</button>
                                    <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, rowIndex)">מחק</button>
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
            </div>
</div>
<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">מחק מקצוע</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" dir="rtl">האם לאשר מחיקה?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
    </div>
</ng-template>

