<div class="row FormClass">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                הוספת קבוצה
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
                    <div class="row" >
                        <div class="form-group" class="col-lg-6"  style="margin-top: 15px;">
                            <label >הכנס כותרת הקבוצה </label>
                            <input type="text" class="form-control textWhite" [(ngModel)]="fields.title" name="title"  required>
                        </div>
                    </div>


                    <div class="row" >
                        <div class="form-group col-lg-12" >
                            <label class="col-form-label">שיוך משתמשים לקבוצה</label>
                            <div>


                                <angular2-multiselect [data]="StudentsArray"
                                                      [(ngModel)]="fields.selected_students"
                                                      name="selectedStudents"
                                                      [settings]="dropdownSettings" required>

                                </angular2-multiselect>

                            </div>
                        </div>
                    </div>

                    <!--
                      <div class="row" >

                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;" >
                          <label >כיתה </label>
                          <select class="form-control textWhite" id="schoolgrade"   formControlName="schoolgrade" required>
                            <option  [value]="1">א</option>
                            <option  [value]="2">ב</option>
                            <option  [value]="3">ג</option>
                            <option  [value]="4">ד</option>
                          </select><br/>
                        </div>

                        <div class="form-group" class="col-lg-6" style="margin-top: 15px;" >
                          <label >רמת לימוד </label>
                          <select class="form-control textWhite" id="teachinglevel"    formControlName="teachinglevel" required>
                            <option  [value]="1">מתחילה</option>
                            <option  [value]="2">מתקדמת</option>
                          </select><br/>
                        </div>

                      </div>
                    -->

                    <div class="row" align="left" style="float: left; margin-left: 5px">
                        <button [disabled]="!f.valid" type="submit"
                                class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                                style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                            <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
                        </button>
                    </div>
                </form>

                <div class="row" *ngIf="errors.length > 0">
                    <div class="alert alert-warning" role="alert" *ngFor="let item of errors">{{item.message}}</div>
                </div>


            </div>
        </div>
    </div>
</div>