<div class="row FormClass">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        הוספת כרטיסיה
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
          <div class="row" >

            <div class="form-group" class="col-lg-12"  style="margin-top: 15px;">
              <label > הכנס תאריך </label>
              <ngb-datepicker #dp [firstDayOfWeek]="7" [(ngModel)]="fields.ticket_date" name="ticket_date" class="form-control textWhite"></ngb-datepicker>
            </div>
          </div>

          <div class="row" align="left" style="float: left; margin-left: 5px">
            <button [disabled]="!f.valid" type="submit"
                    class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                    style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
              <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>