<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">

            <div class="col-lg-12 nopadding" style="margin-top: 10px;">
                        <div class="row" style="direction: rtl; margin-left:0%;">
                            <div class="col-lg-9 nopadding" style="margin-top: 10px;">
                                <div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">
                                    <input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חפש לפי שם קבוצה" required (keyup)='updateFilter($event)'>
                                </div>
                            </div>
                            <div class="col-lg-1 nopadding" style="margin-top: 26px !important;">
                                <button [routerLink]="['/', folderName , 'add' ,{sub:SubCatId}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="background-color: #666">
                                    <div class="buttonDivBadge">

                                    </div>
                                    <div class="buttonDivText">
                                        <span class="sideButtonTextEmpty">הוסף</span>
                                    </div>
                                    <div class="buttonDivIcon">
                                        <i class="fa fa-plus "></i>
                                    </div>
                                </button>
                            </div>
                        </div>

                        <ngx-datatable
                                [headerHeight]="40"
                                [footerHeight]="'false'"
                                [rowHeight]="'auto'"
                                [scrollbarH]="true"
                                [columnMode]="'force'"
                                [rows]="ItemsArray">

                            <!-- Column Templates -->



                            <ngx-datatable-column name="שם הקבוצה"  [maxWidth]="180" prop="title">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.title}}</strong>
                                </ng-template>
                            </ngx-datatable-column>


                            <ngx-datatable-column name="מ.משתמשים"  [maxWidth]="180" prop="usersCount">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.usersCount}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="קרדיט"  [maxWidth]="180" prop="credit_count">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.credit_count}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="ת.הוספה"  [maxWidth]="180" prop="date">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.date}}</strong>
                                </ng-template>
                            </ngx-datatable-column>



                            <ngx-datatable-column name="פעולות" [sortable]="false" [minWidth]="300" style="direction: ltr !important; text-align: left !important;" align="left">
                                <ng-template let-rowIndex="rowIndex"  let-row="row" ngx-datatable-cell-template style="background-color: red; direction: ltr !important; text-align: left !important; float: left" align="left">
                                      <button type="button"  [ngClass]="[row.tickets_count > 0 ? 'btn btn-info' : 'btn btn-default']" (click)="openDetailsModal(details, row)">{{row.tickets_count}} כרטיסיות </button>
                                    <button type="button" class="btn btn-success" (click)="openCreditModal(credits, row)">הוספת קרדיט</button>
                                    <button type="button" class="btn btn-warning" [routerLink]="['/', folderName , 'edit' , { id: row.id}]">ערוך</button>

                                    <!-- <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, rowIndex)">מחק</button> -->

                                </ng-template>
                            </ngx-datatable-column>



                        </ngx-datatable>
            </div>
</div>
<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">מחק קבוצה</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" dir="rtl">האם לאשר מחיקה?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
    </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #credits let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">הוספת קרדיט</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" dir="rtl">
        <input type="number" class="form-control" [(ngModel)]="GroupCreditNumber" >
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="addGroupCredit()">אישור</button>
    </div>
</ng-template>

<ng-template ngbModalContainer></ng-template>
<ng-template #details let-c="close" let-d="dismiss">

    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right"> כרטיסיות קבוצת : {{selectedItem.title}} </h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" style="direction: rtl">

        <div *ngIf="!selectedItem.tickets">לא נמצאו כרטיסיות</div>

        <div *ngIf="selectedItem.tickets">
            <div >

                <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-0" dir="rtl">
                        <thead>
                        <tr>
                            <th>שם מלא</th>
                            <th>ת.כרטיס</th>
                            <th>ת.הוספה</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let row of selectedItem.tickets; let i = index">
                            <td>
                                <div *ngIf="row.user_info">{{row.user_info.student_name}}</div>
                            </td>
                            <td>{{row.ticket_date}}</td>
                            <td>{{row.created_at}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


        <div class="m-2">
            <button type="button" class="btn btn-info btn-block" (click)="c()">סגור</button>
        </div>
    </div>
</ng-template>
