<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">

            <div class="col-lg-12 nopadding" style="margin-top: 10px;">
                        <div class="row" style="direction: rtl; margin-left:0%;">
                            <div class="col-lg-9 nopadding" style="margin-top: 10px;">
                                <div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">
                                    <input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חפש לפי שם מלא" required (keyup)='updateFilter($event)'>
                                </div>
                            </div>
                            <div class="col-lg-1 nopadding" style="margin-top: 26px !important;">
                                <button [routerLink]="['/', folderName , 'add' ,{sub:SubCatId}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="background-color: #666">
                                    <div class="buttonDivBadge">

                                    </div>
                                    <div class="buttonDivText">
                                        <span class="sideButtonTextEmpty">הוסף</span>
                                    </div>
                                    <div class="buttonDivIcon">
                                        <i class="fa fa-plus "></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <!--<div class="row" style="direction: rtl">-->
                            <!--&lt;!&ndash;<div class="col-md-2">&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="button" class="btn btn-info" [routerLink]="['/companies/create']">עסק חדש</button>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--<div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">-->
                                <!--<input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חפש לפי שם מוצר" required (keyup)='updateFilter($event)'>-->
                            <!--</div>-->
                        <!--</div>-->
                        <ngx-datatable
                                [headerHeight]="40"
                                [footerHeight]="'false'"
                                [rowHeight]="'auto'"
                                [scrollbarH]="true"
                                [columnMode]="'force'"
                                [rows]="ItemsArray">


                            <ngx-datatable-column name="שם"  [maxWidth]="120" prop='student_name'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.student_name}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="טלפון"  [maxWidth]="120" prop='phone'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.phone}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="אימייל"  [width]="170" prop='email'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.email}}</strong>
                                </ng-template>
                            </ngx-datatable-column>


                            <!--<ngx-datatable-column name="סניף"  [width]="80" prop='branch_id'>-->
                                <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                                    <!--<strong *ngIf="row.selectedBranches.length > 0">-->
                                        <!--<div *ngFor="let item of row.selectedBranches">-->
                                            <!--{{item.itemName}},-->
                                        <!--</div>-->
                                    <!--</strong>-->
                                <!--</ng-template>-->
                            <!--</ngx-datatable-column>-->

                            <ngx-datatable-column name="סוג חשבון"  [width]="80" prop='userType'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{UserType[row.userType]}}</strong>
                                </ng-template>
                            </ngx-datatable-column>



                            <ngx-datatable-column name="קרדיט קבוצה"  [width]="80" prop='group_credit'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.group_credit}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="מקבל פוש" [width]="80" prop='push_id'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div *ngIf="row.push_id !== '' && row.push_id !== 'null'">
                                        <img src="assets/images/checkmark.png" height="20">
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="ת.הרשמה"  [maxWidth]="80" prop='new_date'>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <strong>{{row.new_date}}</strong>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="פעולות" [sortable]="false" [width]="300" style="direction: ltr !important; text-align: left !important;" align="left">
                                <ng-template let-rowIndex="rowIndex"  let-row="row" ngx-datatable-cell-template style="background-color: red; direction: ltr !important; text-align: left !important; float: left" align="left">
                                    <!-- <button type="button" class="btn btn-info" (click)="openDetailsModal(details, row)">פרטים</button> -->
                                    <button type="button"  [ngClass]="[row.has_group == 1 ? 'btn btn-info' : 'btn btn-default']" (click)="openTicketsPage(row.id,row.has_group)">
                                       <span>{{row.ticket_count}}</span> כרטיסיות</button>
                                    <button type="button" class="btn btn-success"  (click)="openPushModal(push, row)">פוש</button>
                                    <button type="button" class="btn btn-warning" [routerLink]="['/', folderName , 'edit' , { id: row.id}]">ערוך</button>
                                    <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, rowIndex)">מחק</button>
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
            </div>
</div>
<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">מחק משתמש</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" dir="rtl">האם לאשר מחיקה?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
    </div>
</ng-template>

<ng-template #push>
    <div class="modal-header">
        <h6 class="modal-title text-uppercase">לשלוח פוש</h6>
        <button type="button" class="close" aria-label="סגור" (click)="closePushModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <textarea *ngIf="!sent" rows="3"  dir="rtl" placeholder="הודעה..." [(ngModel)]="pushText" style="width: 100%;"></textarea>
        <div *ngIf="inProcess">
            אנא המתן...
        </div>
        <div  *ngIf="sent">
            <ngb-alert [dismissible]="false" style="width: 100%;" type="success">
                נשלח בהצלחה!
            </ngb-alert>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closePushModal()">סגור</button>
        <button type="button" *ngIf="!sent" class="btn btn-primary" [disabled]="pushText == ''" (click)="sendPush()">שלח</button>
    </div>
</ng-template>

