<div class="row FormClass">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        ערוך חברה
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
          <div class="row" >
            <div class="form-group" class="col-lg-6" *ngFor="let row of rows let i=index" style="margin-top: 15px;">
              <label for="formGroupExampleInput">הכנס {{rowsNames[i]}} </label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name={{row}} [(ngModel)]="Item[row]"  ngModel required>
            </div>

            <div class="form-group" class="col-lg-6" style="margin-top: 15px;" *ngIf="sub == -1" >
              <label for="formGroupExampleInput">תת קטגורייה </label>
              <select class="form-control textWhite" [(ngModel)]="Item.sub_category_id" name="sub_category_id">
                <option *ngFor="let item of SubCategories let i=index" [value]="item.id">{{item.title}}</option>
              </select><br/>
            </div>
          </div>
          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput">תיאור</label>
              <textarea rows="4" cols="50" class="form-control textWhite" id="formGroupExampleInput" [(ngModel)]="Item.description" name="description" ngModel required> </textarea>
            </div>
            <!--<div class="form-group" class="col-lg-6">-->
              <!--<label for="formGroupExampleInput">תיאור באנגלית</label>-->
              <!--<textarea rows="4" cols="50" class="form-control textWhite" id="formGroupExampleInput" [(ngModel)]="Item.description_english" name="description_english" ngModel required> </textarea>-->
            <!--</div>-->
          </div>
          <div class="row">

          </div>
          <!--<div class="row">-->
          <!--<img src="{{Image}}" style="width:50px; height: 50px" />-->
          <!--<input  #fileInput   type="file"(change)="onChange($event)" style="margin-right: 20px; margin-top: 10px"/>-->
          <!--</div>-->
          <div class="row">
            <!--<div class="form-group" class="col-lg-6">-->
              <!--<div class="row">-->
                <!--<label class="uploader">-->

                  <!--<img *ngIf="changeImage" src="{{changeImage}}" [class.loaded]="imageLoaded" style="width: 100px;"/>-->
                  <!--<img *ngIf="!changeImage" src="{{host}}{{Item.image}}" [class.loaded]="imageLoaded" style="width: 100px;"/>-->
                  <!--<input #fileInput type="file" name="file" accept="image/*" (change)="onChange($event)">-->
                <!--</label>-->


              <!--</div>-->
            <!--</div>-->
            <div class="form-group" class="col-lg-6">
              <div class="row">
                <input #fileInput type="file"/>
              </div>
            </div>
          </div>

          <div class="row" align="left" style="float: left; margin-left: 5px">
            <button [disabled]="!f.valid" type="submit"
                    class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                    style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
              <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>