<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">

    <div class="col-lg-12 nopadding" style="margin-top: 10px;">
        <div class="row" style="direction: rtl; margin-left:0%;">
            <div class="col-lg-9 nopadding" style="margin-top: 10px;">
                <div style="width: 95%; float: right ; margin-right: 20px; margin-top: 30px; ">
                    <input type="text" dir="rtl" class="form-control mb-3 SearchInput" placeholder="חפש לפי כותרת" required (keyup)='updateFilter($event)'>
                </div>
            </div>
            <div class="col-lg-1 nopadding" style="margin-top: 26px !important;">
                <button [routerLink]="['/', folderName , 'add' ,{sub:SubCatId}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="background-color: #666">
                    <div class="buttonDivBadge">

                    </div>
                    <div class="buttonDivText">
                        <span class="sideButtonTextEmpty">הוסף</span>
                    </div>
                    <div class="buttonDivIcon">
                        <i class="fa fa-plus "></i>
                    </div>
                </button>
            </div>
        </div>


        <ngx-datatable
                [headerHeight]="40"
                [footerHeight]="'false'"
                [rowHeight]="'auto'"
                [scrollbarH]="true"
                [columnMode]="'force'"
                [rows]="ItemsArray">


            <ngx-datatable-column name="כותרת"  [width]="120" prop='title'>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <strong>{{row.title}}</strong>
                </ng-template>
            </ngx-datatable-column>


            <ngx-datatable-column name="פעולות" [sortable]="false" [width]="300" style="direction: ltr !important; text-align: left !important;" align="left">
                <ng-template let-rowIndex="rowIndex"  let-row="row" ngx-datatable-cell-template style="background-color: red; direction: ltr !important; text-align: left !important; float: left" align="left">
                    <button type="button" class="btn btn-warning" [routerLink]="['/', folderName , 'edit' , { id: rowIndex}]">ערוך</button>
                    <button type="button" class="btn btn-danger" (click)="openDeleteModal(content, rowIndex)">מחק</button>
                </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>
    </div>
</div>
<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header text-right">
        <h6 class="modal-title text-uppercase text-right" style="text-align: right !important; direction: rtl;">מחק רמת לימוד</h6>
        <button type="button" class="close" aria-label="סגור" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-right" dir="rtl">האם לאשר מחיקה?</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">סגור</button>
        <button type="button" class="btn btn-primary" (click)="deleteCompany()">מחק</button>
    </div>
</ng-template>

