<div class="row FormClass">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        הוסף חברה
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div class="row">
            <div class="form-group" class="col-lg-12">
              <label for="formGroupExampleInput">הכנס שם חברה </label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="name" ngModel required>
            </div>
          </div>

          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput">הכנס כתובת </label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="address"
                     ngModel required>
            </div>
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput2">הכנס טלפון</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput2" name="phone"
                     ngModel required>
            </div>
          </div>

          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput">הזן סיסמה</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="password" ngModel required>
            </div>
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput2">הכנס אימייל</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput2" name="email" ngModel required email>
            </div>
          </div>

          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput">הכנס אתר אינטרנט</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="website"
                     ngModel>
            </div>
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput2">הכנס WAZE</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput2" name="waze"
                     ngModel>
            </div>
          </div>
          <div class="row">
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput">הכנס פייסבוק</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput" name="facebook"
                     ngModel>
            </div>
            <div class="form-group" class="col-lg-6">
              <label for="formGroupExampleInput2">הכנס subDomain</label>
              <input type="text" class="form-control textWhite" id="formGroupExampleInput2" name="subdomain"
                     ngModel required>
            </div>
          </div>
          <div class="row">
            <div class="form-group" class="col-lg-12">
              <label for="formGroupExampleInput">פרטים נוספים</label>
              <textarea  rows="4" cols="50"  class="form-control textWhite" id="formGroupExampleInput" name="description" ngModel required> </textarea>
            </div>
          </div>
          <div class="row">
            <label class="uploader">
              <img [src]="imageSrc"  [class.loaded]="imageLoaded" style="width: 100px;"/>
              <input type="file" name="file" accept="image/*" (change)="handleInputChange($event)">
            </label>
          </div>
          <div class="row" align="left" style="float: left; margin-left: 5px">
            <button [disabled]="!f.valid" type="submit" class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                    style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
              <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
            </button>
          </div>








            <div class="row" dir="rtl">

                <div class="col-md-6" dir="rtl">
                    <label class="custom-file">
                        <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input">
                        <span class="custom-file-control">Upload video</span>
                    </label>
                </div>

                <div class="col-md-6">
                    <p>Upload queue</p>
                    <p>Queue length: {{ uploader?.queue?.length }}</p>

                    <table class="table">
                        <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th>Size</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of uploader.queue">
                            <td><strong>{{ item?.file?.name }}</strong></td>
                            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                            <td *ngIf="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-sm"
                                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-sm"
                                        (click)="item.cancel()" [disabled]="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>
                                <button type="button" class="btn btn-danger btn-sm"
                                        (click)="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <p>Queue progress: <ngb-progressbar type="primary" [value]="uploader.progress"></ngb-progressbar></p>
                        <button type="button" class="btn btn-success"
                                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning"
                                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger"
                                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>
                </div>

            </div>



        </form>
      </div>
    </div>
  </div>
</div>