
<div class="row nopadding" style="padding: 0px; background-color: white; margin-top: -15px; margin-left: -17px">
    <div class="col-lg-2 nopadding" style="background-color: #eff1f1; padding: 0px" >
        <div style="margin-top: 20px; padding: 10px;" align="center">
            <button [routerLink]="['/', 'employee' , 'add' , { id: Id}]"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="">
                <div class="buttonDivBadge">

                </div>
                <div class="buttonDivText">
                    <span class="sideButtonTextEmpty">הוסף עובד חדש</span>
                </div>
                <div class="buttonDivIcon">
                    <i class="fa fa-chevron-left"></i>
                </div>
            </button>

            <button [routerLink]="['/', 'company' , 'index']"  class="btn btn-icon btn-facebook mb-1 mr-1 sideButton" style="background-color: #666">
                <div class="buttonDivBadge">

                </div>
                <div class="buttonDivText">
                    <span class="sideButtonTextEmpty">חזר לעמוד חברות</span>
                </div>
                <div class="buttonDivIcon">
                    <i class="fa fa-chevron-left"></i>
                </div>
            </button>

            <hr>


        </div>
    </div>
    <div class="col-lg-10 nopadding" style="margin-top: 10px; height: 1000px">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <input type="text" class="form-control mb-3" placeholder="חפש עובד" style="text-align: right; padding: 10px;" required (keyup)='updateFilter($event)'>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px; height: 1000px">
        <ngx-datatable
                class="striped"
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="0"
                [rowHeight]="70"
                [scrollbarV]="true"
                [scrollbarH]="true"
                [rowClass]="getRowClass"
                (sort)="onSort($event)"
                [rows]="ItemsArray">

          <ngx-datatable-column name="icons" [width]="100" >
                <ng-template let-column="column" ngx-datatable-header-template>
                    actions
                </ng-template>
                <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                    <i class="fa fa-close IconClass" style="" (click)="DeleteItem(rowIndex)"></i>
                    <a [routerLink]="['/', 'employee' , 'edit' , { id: rowIndex, foo: 'foo' }]" class="navigation-link relative"><i class="fa fa-edit IconClassMt3" ></i></a>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column  name="תאריך" prop="date"  style="padding-top:30px !important;" [width]="120" ></ngx-datatable-column>
            <ngx-datatable-column  name="כתובת" prop="address"  style="padding-top:30px !important;" [width]="120" ></ngx-datatable-column>
            <ngx-datatable-column  name="טלפון" prop="phone"  style="padding-top:30px !important;" [width]="120" ></ngx-datatable-column>
            <ngx-datatable-column  name="אימייל" prop="email"  style="padding-top:30px !important;" [width]="120" ></ngx-datatable-column>
            <ngx-datatable-column  name="ת.ז." prop="idcard"  style="padding-top:30px !important;" [width]="120" ></ngx-datatable-column>
            <ngx-datatable-column  name="שם חברה" prop="CompanyName"  style="padding-top:30px !important;" [width]="120" ></ngx-datatable-column>
            <ngx-datatable-column name="שם עובד" prop="name" style="padding-top:30px !important;" [width]="120">
            </ngx-datatable-column>
            <ngx-datatable-column name="מספר עובד" prop="index" style="padding-top:30px !important;" [width]="80"></ngx-datatable-column>
        </ngx-datatable>
        </div>
    </div>
</div>





<!--

address
company_id
date
deleted
desc
email
name
idcard
image
manager
phone
-->